body{
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.color{
    color: #6c5ce7;
}
/* Styling for index page */
.title-display{
    width: 100%;
    height: 50px;
}
.title{
    margin: 10px 0px;
}
.hidden{
    visibility: hidden;
    position: absolute;
}
.text-show{
    color: black;
}